.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  /* display: none; */
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
