.popup__button-save {
  box-sizing: border-box;
  height: 50px;
  width: 358px;
  padding: 0;
  margin: 50px 0 35px;
  border: 0;
  color: #FFF;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: bottom 50% right 50%;
  transition: ease-in .1s;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__button-save:hover {
  opacity: .8;
}

@media screen and (max-width: 589px) {
  .popup__button-save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    margin-top: 46px;
  }
}
