.profile__edit-button[type="button"] {
  display: block;
    /* background:url(../../../images/icon/pen.svg) no-repeat; */
    /* background-size: 10px 10px; */
    border: 0;
    margin: 0;
    width: 24px;
}

.profile__edit-button[type="button"]::before {
  background:url(../../../images/icon/pen.svg) no-repeat;

}
