.header__logo {
  max-width: 142px;
  max-height: 33px;
  padding: 45px 0 36px;
}

@media screen and (max-width: 799px) {
  .header__logo {
    padding: 28px 0 0 15.64%;
  }
}

@media screen and (max-width: 589px) {
  .header__logo {
    padding: 20px 0 0 27px;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    padding: 28px 0 28px 27px;
    max-width: 103.74px;
    max-height: 24.4px;
  }
}
