.popup__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding: 34px 0 25px 35px;
  color: #000000;
background-color: #fff;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

@media screen and (max-width: 589px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 400px) {
  .popup__title {
    padding-bottom: 45px;
  }
}
