.card__list {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 1024px) {
  .card__list {
    padding: 40px 0 88px;
    max-width: 100%;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 361px);
  }
}

@media screen and (max-width: 589px) {
  .card__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 361px);
    justify-items: center;
    padding: 36px 0 0 0;
  }
}
