.popup__container {
  position: relative;
  background: #fff;
  height: 330px;
  max-width: 430px;
  margin: 195px auto 0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 34px 36px 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 3;

}
