.profile {
  margin: 0 auto;
  max-width: 68.75%;
  padding: 40px 0 51px;
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 35px 0 0;
  }
}

@media screen and (max-width: 799px) {
  .profile {
    padding: 42px 0 0;
  }
}
