.profile__container {
  display: grid;
  max-width: 880px;
  /* max-height: 120px; */
  margin: 0 auto;
  grid-template-columns: 120px 336px 42px 1fr;
  grid-template-rows: 60% 40%;
}

@media screen and (max-width: 799px) {
  .profile__container {
    grid-template-columns: 233px 45px;
    grid-template-rows: 120px 60px 28px 100px;
    justify-items: center;
    justify-content: center;
    /* max-height: 286px; */
  }
}
