.form__input {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
    padding: 28px 0 9px;
    width: 100%;
  }
  
  @media screen and (max-width: 589px) {
    .form__input {
      padding: 25px 0 8px;
    }
  }