.footer {
  margin: 0 auto;
  max-width: 68.75%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding: 69px 0 60px;
}

@media screen and (max-width: 589px) {
  .footer {
    padding: 46px 0 36px;
    margin: 0 0 0 16px;
  }
}
